{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <a class="navbar-brand" href="#">
                Ben Resume
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#intro" class="nav-link smoothScroll">Introduction</a>
                    </li>

                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">About Me</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a href="#testimonials" class="nav-link smoothScroll">Reviews</a>
                    </li> -->

                    <li class="nav-item">
                        <a href="#contact" class="nav-link smoothScroll">Contact</a>
                    </li>
                </ul>

                <div class="mt-lg-0 mt-3 mb-4 mb-lg-0">
                    <a href="#" class="custom-btn btn" download>Download CV</a>
                </div>
            </div>

        </div>
    </nav>


    <!-- HERO -->
    <section class="hero d-flex flex-column justify-content-center align-items-center" id="intro">

         <div class="container">
            <div class="row">

                  <div class="mx-auto col-lg-5 col-md-5 col-10">
                      <!-- <video>
                        <source src="static/images/ben.mp4" type="video/mp4">
                      </video> -->
                      <div>
                      <img src="static/images/calvin_mazhindu/IMG_1986.jpg" alt="Calvin Mazhindu profile photo" class="profile-photo">
                      </div>
                  </div>

                   <div class="d-flex flex-column justify-content-center align-items-center col-lg-7 col-md-7 col-12">
                        <div class="hero-text">

                            <h1 class="hero-title">👋 I am Calvin Mazhindu, A Software Developer</h1>

                            <a href="#" class="email-link">
                                hello@company.co
                            </a>
                          
                        </div>
                    </div>

            </div>
        </div>
    </section>


    <section class="about section-padding" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-12">
                    <h3 class="mb-4">Calvin Mazhindu`s resume.</h3>

                    <p>My name is Calvin Mazhindu and I am a software developer based in Rushden, Northamptonshire, UK. <a rel="nofollow" href="https://www.tooplate.com" target="_parent">Tooplate website</a>. You can feel free to edit and use this page for your small site. You are allowed to use this HTML template for any kind of purpose.</p>

                    <p>I have more that 2 years experience in software an web development experience. I am proficient in Python with a specialisation
                      in web development. I have a passion in coding day to day solutions making GUI programs using libraries such as 
                      Tkinter and PYQt.
                    </p>

                </div>

                <div class="col-lg-5 mx-auto col-md-6 col-12">
                    <!-- <img src="static/images/true-agency.jpg" class="about-image img-fluid" alt="Ben's Resume HTML Template"> -->
                    <video controls width="300">
                      <source src="static/videos/31468-386957672_medium.mp4" type="video/mp4">
                      <!-- <source src="/home/cmazh/Downloads/28320-369325356_medium.webm" type="video/webm"> -->
                      <!-- <a href="static/videos/31468-386957672_medium.mp4" type="video/mp4">Video</a> -->
                    </video>
                </div> <!--A video needs to be here!-->

            </div>



        <div> <!--testing the code-->
          <div>
            <div>

            </div>
          </div>
        </div>
    </section>


  <div class="mb-3">
     <section class="contact section-padding pt-0" id="contact">
      <div class="container">
        <div class="row">
                <!-- This is a test-->
          <div class="col-lg-6 col-md-6 col-12">
            <h3>Contact me:</h3>
            <form action="{% url 'contact' %}" method="POST" class="contact-form webform"  role="form">
              {% csrf_token %}
                
                <div class="form-group d-flex flex-column-reverse">
                    <!-- <input type="text" class="form-control" name="cf-name" id="cf-name" placeholder="Your Name">

                    <label for="cf-name" class="webform-label">Full Name</label> -->
                    {{ form.full_name.label_tag }}
                    {{ form.full_name }}


                </div>

                <div class="form-group d-flex flex-column-reverse">
                    <!-- <input type="email" class="form-control" name="cf-email" id="cf-email" placeholder="Your Email">

                    <label for="cf-email" class="webform-label">Your Email</label> -->
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>

                <div class="form-group d-flex flex-column-reverse">
                    {{ form.message.label_tag }}
                    {{ form.message }}
                </div>

                <button type="submit" class="form-control" id="submit-button" name="submit">Send</button>
                <button type="reset" class="form-control" id="reset-button" name="reset">Reset</button> <!-- new code -->


            </form>
          </div>
          

            <div class="mx-auto col-lg-4 col-md-6 col-12">


                <h3 class="my-4 pt-4 pt-lg-0">Catch me on Social media</h3>

                <p class="mb-1">010-020-0340</p>

                <p>
                    <a href="#">
                        hello@company.co
                    <i class="fas fa-arrow-right custom-icon"></i>
                    </a>
                </p>

                <ul class="social-links mt-2">
                    <li><a href="https://www.facebook.com/cmazhindu/" rel="noopener" class="fab fa-facebook"></a></li>
                    <li><a href="https://x.com/cvn_mazhindu" rel="noopener" class="fab fa-twitter"></a></li>
                    <li><a href="#" rel="noopener" class="fab fa-instagram"></a></li>
                    <li><a href="https://www.linkedin.com/in/calvin-m-1bb82a22a/" rel="noopener" class="fab fa-linkedin"></a></li>
                    <li><a href="http://www.youtube.com/@TopTechNow-rz1xn" rel="noopener" class="fab fa-youtube"></a></li>
                </ul>
                
              <p class="copyright-text mt-5 pt-3">Copyright &copy; 2020 Ben Resume Page</p>
                
                <p><www class="Tooplate com"></www><a href="https://www.tooplate.com/view/2120-ben-resume" title="free HTML templates" target="_blank"> Website Template</a></p>
            </div>

        </div>
      </div>
    </section>
  </div>

  <div>
    {% for x in language %}
    <div class="language-box">
      <ul>
        <li><h4>Language: {{ x.name }}</h4></li>
        <li><p class="proficiency">Proficiency: {{ x.level }}</p></li>
        <li><p>Text: {{ x.text }}</p></li>
      </ul>
    </div>
    {% endfor %}
  </div>

  <div class="testimonial">
    {% for x in testimonials %}

        <div >
          <img src="{{ x.image.url }}" alt="{{ x.name }}" class="testimonial-image">
        </div>
        <p>{{ x.name| title }}</p>
        <p>{{  x.profession }}</p>
        <p>{{ x.text }}</p>

      </div>
    
    {% empty %}
      <div class="empty-testimonials">
        <p>No testimonials yet.</p>
      </div>

    {% endfor %}



{% endblock content %}
